{% extends "base.html" %}

{% block content %}
    <h3>Works log</h3>
    <a href="{{ url_for('add.add_job') }}" class="btn btn-primary mb-3">Add job</a>

    {% for action in actions %}
        <h3>Action #{{ action[5] }}</h3>
        <table border="1" class="table table-bordered">
            <tr>
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>Is finished</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>{{ action[0] }}</td>
                <td>{{ action[1] }}</td>
                <td>{{ action[2] }}</td>
                <td>{{ action[3] }}</td>
                <td>{{ action[4] }}</td>
                <td>
                    <a href="{{ url_for('edit.edit_job', job_id=action[5]) }}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{{ url_for('delete.delete_job', job_id=action[5]) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}